h1 .glyphicon{
color:#31B0D5;
 /*font-size: 75px;*/
}
.page-header{
  margin-top:0;
  padding-top:0;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.nav-tabs{
  /*background-color:#161616;*/
}
.tab-content{
    /*background-color:#303136;*/
    /*color:#fff;*/
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  /*background-color: #303136 !important;*/
    border: medium none;
    border-radius: 0;
    /*color:#fff;*/
}
